.home-page {
  font-family: $roboto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('/img/ss2.jpeg') no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: contrast(1.1);
  filter: contrast(1.1);
}

.home-page .intro {
  position: relative;
  display: block;
  width: 50%;
  margin: 30% auto;
  color: #fff;
  text-align: center;
  line-height: 4em;
}