section.whiskies {
  margin-left: 10%;
}

.detail-container {
  margin-left: 28%;

  .content {
    line-height: 2em;
    height: 120px;
  }

  .profile {
    .profile-chart-container {
      width: 100%;
      height: 500px;
    }
  }
}