//===============================================================================
// ELEMENTS
//===============================================================================
// SELECTION
::selection {
  background: rgba(darken($ink, 20), 0.3);
}

// LINKS
a {
  color: $ink;
  text-decoration: none;

  &:hover, &.hover {
    cursor: pointer;
    color: lighten($ink, 10);
  }

  &:active, &.active {
    color: darken($ink, 10);
  }

  &.visited {
    color: darken($ink, 15);
  }
}

// BUTTONS
.btn, button {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

// INPUT, TEXTAREA
input, textarea {
  padding: 10px;
  display: block;
  -webkit-appearance: none;
  border-radius: 0;

  &:focus{
    outline: none;
  }
}

// IMAGES
img {
  max-width: 100%;
}

// LISTS
ol {
  padding-left: 1.4em;

  ol, ol ol {
    margin-bottom: 0;
  }
}

ul {
  padding: 0;
  list-style: none;

  ul, ul ul {
    margin-bottom: 0;
  }
}

dt {
  font-weight: $bold;
}

dd {
  margin-left: 1.4em;
}

.list-container {
  padding: 0;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
}

ul.main-list {
  position: relative;
  width: 100%;
  line-height: 2.5em;
  background-color: #eee;

  li {
    width: 100%;

    a {
      display: block;
      padding: 0 10px;
    }

    &:hover, .active {
      background-color: #fff;
    }
  }
}