//===============================================================================
// VARIABLES
//===============================================================================
// COLOURS
$paper: white;
$ink: #263238;
$primary: $ink;

// TYPOGRAPHY
$base-font-size: 14px;
$roboto: 'Roboto', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

$bold: 700;
$regular: 400;
$book: 300;

$tera: 86px;
$giga: 60px;
$mega: 48px;
$alpha: 36px;
$beta: 24px;
$gamma: 22px;
$delta: 16px;
$epsilon: 14px;
$zeta: 12px;

// SPACING: Grid, Viewports etc
$large: 1000px;
$medium: 650px;
$small: 500px;

$gutter: 20px;